*.csv filter=lfs diff=lfs merge=lfs -text

*.json filter=lfs diff=lfs merge=lfs -text

*.zip filter=lfs diff=lfs merge=lfs binary

*.trace filter=lfs diff=lfs merge=lfs binary

*.mp3 filter=lfs diff=lfs merge=lfs binary

*.wav filter=lfs diff=lfs merge=lfs binary
